# Python
__pycache__/
*.py[cod]
*.pyo
.mypy_cache/
.ruff_cache/
.pytest_cache/
htmlcov/
.coverage
coverage.xml
*.egg-info/
dist/
build/

# Virtual envs
.venv/
venv/
env/

# DB / runtime data
*.db
/data/
/dev-media/

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
